{{ define "title" }}{{.Site.Title}}{{ end }}

{{ define "main" }}

<p><i>Last update: <b>{{.Site.Params.lastUpdate | time.Format "2 Feb 2006" }}</b></i></p>

<p>
    It aims to include most conferences, congresses, workshops... that are somewhat related to the topic
    of space debris and space situational awareness (SSA) in their programme,
    or that could be of interest for people working in those topics, e.g. astrodynamics tools.
</p>


{{ with $file := "confs.yaml" }}
{{ with resources.Get $file }}
{{ with . | transform.Unmarshal }}

<h3 id="upcomingTitle">Upcoming events</h3>

<table id="confsTable" class="stripe order-column">
    <thead>
        <tr>
            <th width="50%">Title</th>
            <th width="12%">Start</th>
            <th width="12%">End</th>
            <th width="26%">Location</th>
        </tr>
    </thead>
    <tbody>
        {{ range  .events }}
        <tr>
            <td><a href="{{ .link }}" target="_blank" rel="noopener noreferrer">{{ .title }}</a></td>
            <td>{{ .startDate }}</td>
            <td>{{ .endDate }}</td>
            <td>{{ .location }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>

<h3 id="pastTitle">Past events</h3>

<i>Website was started in Feb. 2026, therefore before that events were not tracked.</i>

<table id="confsTablePast" class="stripe order-column">
    <thead>
        <tr>
            <th width="50%">Title</th>
            <th width="12%">Start</th>
            <th width="12%">End</th>
            <th width="26%">Location</th>
        </tr>
    </thead>
    <tbody>
        {{ range  .pastEvents }}
        <tr>
            <td><a href="https://{{ .link }}">{{ .title }}</a></td>
            <td>{{ .startDate }}</td>
            <td>{{ .endDate }}</td>
            <td>{{ .location }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
{{ end }}
{{ end }}


<script>
    let tableUpcoming = new DataTable('#confsTable', {
        columnDefs: [
            {
                targets: [1, 2],
                render: DataTable.render.datetime('DD MMM YYYY')
            }
        ],
        //paging: false,
        order: [[1, 'asc']]
    });

    let tablePast = new DataTable('#confsTablePast', {
        columnDefs: [
            {
                targets: [1, 2],
                render: DataTable.render.datetime('DD MMM YYYY')
            }
        ],
        order: [[1, 'desc']]
    });
</script>

{{ end }}
